<!DOCTYPE html>
<html>
<head>
    <title>Car Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Car Prediction</h1>
        <form method="POST" action="/predict/" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Predict</button>
        </form>
    </div>
</body>
</html>
